{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum menu.
 *
 * Available variables:
 *   - source_links
 *
 * @ingroup themeable
 */
#}
<div class="devbranch_task-link">
  <ul>
    {% for item in source_links %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>
